@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ddddddddddddddd</h1>

@Html.TextBox("Phone", "", new { id = "txtPhonedate", @class = "form-control datepicker", style = "width:100%" })